header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

logo.container{
    display: flex;
    align-items: center;
    font-size: 2rem;;
}

.logo-container span {
    font-size: 32px;
    padding-left: 1rem;
}